.idea
node_modules
npm-debug.log
.nuxt
dist
sw.*
/functions-dist
.env
.env.production
.output
deploy-package
# Local Netlify folder
.netlify
ADMIN_SETUP.md
/docs
ADMIN_PORTAL_IMPLEMENTATION.md
ADMIN_PORTAL_FEATURES.md
CLOUDINARY_SETUP.md
ADMIN_PORTAL_SETUP.md
Production_Deployment.md