registry=https://registry.npmjs.org/
@*:registry=https://registry.npmjs.org/
//registry.npmjs.org/:always-auth=false
shamefully-hoist=true
auto-install-peers=true
prefer-offline=false
package-import-method=copy
